<h1><%= title %></h1>

<ul>
<% for(var i=0; i<files.length; i++) { %>
    <li><a href="/uploads/<%= files[i] %>"<%= files[i] %></a>
<a.href="././upload/remove/<%= files[i] %>">remove</a></li>
<% } %>
</ul>

<a href="/files/upload">Upload</a>
