
<form action="././upload", method="post", enctype="multipart/form-data">
    <label for="yourfile">
        Upload YOUR File
      </label></br>
    <input type="file", name="yourfile", id="uploadFile" value=""></br>
      <label for="submitFile">
        Submit
      </label></br>
    <input type="submit", name="yourfile", id="submitFile" value="Upload!">
</form>



